* {
  margin: 0;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  /* Primary */
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}
body {
  font-size: 15px;
  /* background: var(--main-background); */
}
.container {
  min-width: 375px;
  max-width: 375px;
  margin: 50px auto;
  background: var(--card-background);
  border-radius: 10px;
}
.img-container {
  background-image: url(/images/image-header-mobile.jpg);
  background-color: var(--accent);
  background-blend-mode: multiply;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}
.advert {
  margin: 20px;
  text-align: center;
  color: var(--white);
}
.advert .advert-header {
  margin-top: 50px;
}
.advert-body .main-paragraph {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--main-paragraph);
  font-family: "Inter", sans-serif;
  padding: 20px 0;
}
.stats-info {
  padding-bottom: 30px;
}
.achievement-stats .stats-info p {
  color: var(--stat-headings);
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  padding-top: 10px;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: var(--white);
  padding-bottom: 20px;
}
h2 {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
span {
  color: var(--accent);
}

/* Media Query For Desktop and Tablets View */
@media (min-width: 765px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 920px;
    max-width: 1024px;
    height: 450px;
    margin: 150px auto;
  }
  .advert {
    max-width: 36%;
    margin-top: 50px;
    padding: 50px;
    text-align: left;
  }
  .img-container {
    width: 70%;
    height: inherit;
    background: url(/images/image-header-desktop.jpg);
    background-color: var(--accent);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 10px 10px 0;
    order: 2;
  }
 .advert .achievement-stats{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 0;
  }
}
